/* :root{
  --bg: #504B38;
  --primary: #B9B28A;
  --secoundery: #EBE5C2;
  --text :#F8F3D9;
} */


/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.close {
    transform: translateX(-60px);
  }

  .sidebar li span {
    display: none;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .dashboard-content {
    margin-left: 0;
  }

  .login-container {
    padding: 30px 15px;
  }

  .add-product, .edit-product {
    padding: 20px;
  }
}


.profile-img img
{
  height: 80px;
  width: 80px;
}